#buttonGenerate{
    height: 150px;
    width: 100px;
    margin-top: 15%;
    margin-left: 35%;
    background-color: rgb(174, 174, 255);
    border-radius: 10%;
}
.content{
    display: flex;
    justify-content: center;
}
.citation{
    font-size: 20px;
}